bin/
obj/
out/

.vs/
.idea/
*.user
*.suo

.git/
.gitignore
.gitattributes

Dockerfile*
docker-compose*
.dockerignore


.env
.env.*
appsettings.Development.json
appsettings.Local.json

README.md
*.md
LICENSE


logs/
*.log


.DS_Store
Thumbs.db


node_modules/
dist/
build/